<div  *ngIf="iscartempty" class="alert alert-danger">
        Your cart is empty
      </div>
      <table *ngIf="!iscartempty" class="table"  >
        <thead>
          <tr>
            <td></td>
            <td>Product Name</td>
            <td>Quantity</td>
            <td>Product price</td>
          </tr>
        </thead>
      <tbody>
        <tr *ngFor="let item of cartitems">
          <td><img src="{{item.product.image}}" alt="" style="height:50px; width:50px"></td>
          <td>{{item.product.name}}</td>
          <td>{{item.product.quantity}}</td>
          <td>{{item.product.price}}</td>
          <td><button class="btn btn-danger" (click)="remove(item)">Remove</button></td>
          
        </tr>
      </tbody>
      
      </table>
      <p>Your total price is:{{totalprice}}</p>
      <button routerLink="/checkout" *ngIf="!iscartempty" class="btn btn-primary" (click)="checkout()" >Checkout</button>